  <div id="navbar" ng-controller="navbarCtrl">
    <span class="hoverable" ng-click="go('/')">
        <div><i class="fa fa-home"></i></div>
        <span>Home</span>
    </span>
    <span class="hoverable" ng-click="go('/about')">
        <div><i class="fa fa-info-circle"></i></div>
        <span>About</span>
    </span>
    <span class="hoverable" ng-click="go('/blog')">
        <div><i class="fa fa-edit"></i></div>
        <span>Blog</span>
    </span>
    <span class="hoverable" ng-click="go('/info')">
        <div><i class="fa fa-info"></i></div>
        <span>Info</span>
    </span>
    <span class="hoverable" ng-click="go('/contact')">
        <div><i class="fa fa-envelope"></i></div>
        <span>Contact</span>
    </span>
    <span class="hoverable" ng-click="go('/info')">
        <div><i class="fa fa-info"></i></div>
        <span>Info</span>
    </span>
    <span class="hoverable" ng-click="go('/info')">
        <div><i class="fa fa-info"></i></div>
        <span>Info</span>
    </span>
    <pre>{{active}}</pre>
  </div>